*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size:14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:focus, a:focus, input::-moz-focus-inner { outline:0; }
a:hover, a:focus{
  color: #e7972d;
}
img{max-width:100%;}
*{margin:0px; padding:0px;}
body a
{
	-webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
ul
{
  padding: 0;
  margin:0;
  list-style: none;
}
a{color: #0070c2;}
a:hover, .btn:hover{
  text-decoration: none;
}
h2, h3
{
  font-weight: bold;
}
.text-warning {
    color: #febb02;
}
[class*="col-"]{
  padding-left:10px;
  padding-right: 10px;
}
[class*="row"]{
  margin-left: -10px;
  margin-right: -10px;
}
/* navbar css
======================*/
.topnav
{
  background-color: #003580;
  padding: 5px 0px;
  color:#fff;
  min-height: 50px;
  border: transparent;
  border-radius: 0;
  margin-bottom: 0px;
}
.topnav .navbar-brand
{
  width: 160px;
}
.topnav .navbar-brand img
{
  width: 100%;
}
.topnav .navbar-nav>li>a
{
  color: #fff;
}
.topnav .navbar-nav>li>a:hover{
  color: #fff;
}
.log-regbtn
{
  padding: 5px 10px !important;
  margin: 10px 7px;
  color: #333 !important;
  font-weight: 500;
  background-color: #ffffff;
}
.log-regbtn:hover, .log-regbtn:focus
{
  color: #003580 !important;
  background-color: #ffffff !important;
}
.list-property-btn{
  padding: 5px 10px !important;
  border: 1px solid #fff;
  margin: 10px 7px;
      color: #fff;
}
.list-property-btn:hover, .list-property-btn:focus{
  background-color: #0047ab !important;
      color: #fff;
}
.top-head-currency
{
  font-size: 16px;
  font-weight: 500;
}
.top-head-currency:hover, .top-head-currency:focus
{
  color: #fff !important;
}


/* cross-product-bar
======================*/
.cross-product-bar
{
  -webkit-transition: all .2s ease;
    transition: all .2s ease;
    padding: 8px 0 16px;
    background-color: #003580;
}
.product-bar-btn-wrapper{

}
.product-bar-btn-wrapper .btn-link{
  color: #ffffff;
  border-radius: 4px;
}
.product-bar-btn-wrapper .btn-link.selected
{
  background-color: #1a4a8d;
  cursor: default;
}
.product-bar-btn-wrapper .btn-link.selected:hover
{
  text-decoration: none;
}
.product-bar-btn-wrapper .btn-link:hover, .product-bar-btn-wrapper .btn-link:focus
{
  background-color: #1a4a8d;
}


/* Multi dropdown css
======================*/
.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	    color: #646464;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
}
.all-ltext{
  color: #2e2e2e;
margin: 10px;
font-size: 14px;
font-weight: 800;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
  background-color: transparent;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}


/* breadcrumb css
======================*/
.breadcrumb-item + .breadcrumb-item::before {
    content: none; }
.mx-2
  {
      margin-left:10px;
      margin-right:10px;
  }
  .bui-breadcrumb
  {
    background: transparent;
    margin: 5px 5px;
    padding: 8px 0;
  }
  .bui-breadcrumb li{
    font-size: 12px;
  }
  .bui-breadcrumb li a{
    color: #0a75c2;
  }
  .bui-breadcrumb li i{
    font-size: 14px;
    color: #000000;
  }


  /* left column css start
  ======================*/
  .hp-lists {
    background: #e9f0fa;
    text-align: center;
    margin: 10px 0;
    margin-top: 0;
    padding: 20px 0 10px 0;
    border-radius: 3px;
}
.b-btn{
  background-color: #07c;
  border: 2px solid #fff;
  border-radius: 3px;
  line-height: 1.5;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px #aaa;
  box-shadow: 0 0 3px #aaa;
  width: 90%;
  margin: 10px 0 12px 0;
  padding: 7px 6px;
}
.b-btn:hover, .b-btn:focus{
  background-color: #003580;
  border: 2px solid #fff;
}
.price-holder{
  background: #e9f0fa;
  text-align: center;
  margin: 10px 0;
  margin-top: 0;
  padding: 5px 0 5px 0;
  border-radius: 3px;
}
.rate-gurantee{
  text-align: center;
  padding: 10px 5px;
}
.rate-gurantee a{
  font-style: italic;
    color: #383838!important;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}
.rate-gurantee a i{
  background:url(../images/blue-check-g.png);
}
.bpg-logo
{
  vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
}
.checksearch-wrapper
{
      color: #383838;
      padding: 16px;
    position: relative;
    border-radius: 3px;
    border: 1px solid;
    background: #febb02;
    background: #febb02;
    background: -webkit-gradient(linear,left top,left bottom,from(#febb02),to(#febb02));
    background: -webkit-linear-gradient(top,#febb02 0,#febb02 100%);
    background: linear-gradient(to bottom,#febb02 0,#febb02 100%);
    border-color: #e2aa11;
}
.checksearch-wrapper .t-check-out .t-datepicker-day
{
  left: 0;
}
.checksearch-wrapper h3
{
  margin: 0px;
  margin-bottom: 10px;
}

.checksearch-wrapper .t-check-in, .checksearch-wrapper .t-check-out{
  background-color: #fff;
  width: 100%;
  margin-bottom: 6px;
  margin-top: 20px;
}
.checksearch-wrapper .t-check-in .t-date-info-title, .checksearch-wrapper .t-check-out .t-date-info-title{
  top: -20px;
  left: 0;
  font-weight: 400;
  opacity: 1;
}

.checksearch-wrapper .form-group label{
    font-weight: 400;
    margin-bottom: 1px;
}
.checksearch-wrapper .form-group
{
  margin-bottom:8px;
}
.checksearch-wrapper .form-group .form-control{
  padding: 6px 6px;
}
.checksearch-wrapper .form-group .col-md-6:first-child
{
  padding-right: 5px;
}
.checksearch-wrapper .form-group .col-md-6:last-child
{
  padding-left: 5px;
}
.checksearch-wrapper .checkbox i{
  font-size: 16px;
}
.sb-searchbox-button
{
  cursor: pointer;
  border-radius: 6px;
  padding: 5px 25px;
  line-height: 34px;
  font-size: 23px;
  border: 0;
  color: #fff;
  background-color: #07c;
}
.sb-searchbox-button:hover{
  background-color: #003580;
  color: #ffffff;
}
.fe-banner
{
  border: 1px solid #dee3ea;
  background-color: #f1f4f8;
  padding: 10px 10px 10px 50px;
  position: relative;
  margin: 10px 0;
  border-radius: 3px;
}
.fe-banner-icon
{
  position: absolute;
  left: 15px;
  font-size: 17px;
  line-height: inherit!important;
  color: #003580;
}
.fe-banner p{
  line-height: 15px;
}
.social-proof-review{
  position: relative;
}
.social-proof-review h3{
  font-size: 16px;
  font-weight: 800;
}
.social-proof-review .social-review-snippet{
      padding: 16px 0;
}
.c-review-inner{
  direction: ltr;
  text-align: left;
  padding: 0;
margin: 0;
font-size: 14px;
line-height: 20px;
font-weight: 400;
color: #383838;
}
.c-review-guest .review-guest-name
{
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-block;
}
.c-review-guest .review-guest-name .review-guest-image
{
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.review-guest-namedetails
{
  display: inline-block;
  margin-left: 10px;
}
.review-guest-namedetails p{
  margin-bottom: 2px;
}
.review-guest-namedetails p .g-name{
  font-weight: 800;
    color: #151515;
}
.social-review-snippet + hr{
  margin-top: 5px;
  margin-bottom: 5px;
}


/* right column css start
======================*/
.tab-row{
  width: 100%;
}
.tabs.booktab{
  margin:  0;
    padding: 0;
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    width: 100%; /* [3] */
    text-align: center;
    overflow: hidden;
}
.booktab a{
  padding: 10px;
  background-color: #e9f0fa;
  color: #07c;
  font-weight: bold;
  text-decoration: none;
}
.booktab a:hover{
   color: #000000;
}
.booktab .tabs__item
{
  display: table-cell; /* [4] */
  border-bottom: 1px solid #537bb4;
}

.booktab .tabs__link
{
    display: block; /* [5] */
}
.wrap-hotelpage-top{

}
.wrap-hotelpage-top-left{
  width: 80%;
  float: left;
  padding-left: 15px;padding-right: 15px;
}
.hp-hotel-type-badge
{
  display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    vertical-align: middle;
    margin-top: -5px;
    padding: 0 4px;
    border-radius: 3px;
    background: #aeaeae;
    color: #fff;
    margin-right: 5px;
}
.wrap-hotelpage-top .hp-hotel-name{
  font-size: 23px;
}
.wrap-hotelpage-top .hp-hotel-name .star-span{
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}
.wrap-hotelpage-top .hp-hotel-name .thumbsup-span
{
  background: #febb02;
  border-radius: 2px;
  color: #fff;
  padding: 4px;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
}
.gr-value-btn{
  background-color: #ff7400;
    color: #fff;
    border: 1px solid #ff7400;
    padding: 3px 10px;
}
.wrap-hotelpage-top-right
{
  position: relative;
  width: 20%;
  float:right;
  padding-left: 15px;
  padding-right: 15px;
}
.wrap-hotelpage-top-right .btn{
  margin-top: 15px;
}
.r-btn{
  background-color: #07c;
    border: 2px solid #fff;
    border-radius: 3px;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px #aaa;
    box-shadow: 0 0 3px #aaa;
    padding: 7px 10px;
}
.r-btn:hover{
  background-color: #003580;
  border: 2px solid #fff;
}
.wrap-hotelpage-top-right .btn-link{
  font-size: 25px;
  padding: 0px 10px;
  float: right;
}
.b-hotel-address span.fa
{
  font-size: 20px;
  vertical-align: bottom;
}
.b-hotel-address a{
  text-decoration: underline;
}
@media only screen and (max-width:767px){
  .wrap-hotelpage-top-left{
    width: 100%;
  }
  .wrap-hotelpage-top-right{
    width: 100%;
    float: left;
  }
}

/* hotel gallery wrapper section css start*/
.hotel-gallery-wrapper
{
  position: relative;
  margin-bottom: 30px;
}
.hotel-gallery-wrapper .gallery-left-block
{
  display: block;
  height: 175px;
  width: 100%;
  margin-bottom: 15px;
}
.hotel-gallery-wrapper .gallery-left-block img, .hotel-gallery-wrapper .gallery-right-block img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hotel-gallery-wrapper .gallery-right-block
{
  display: block;
  height: 364px;
  width: 100%;
  margin-bottom: 15px;
}

.gallery-thumbnail-wrap
{
  width: 100%;
  position: relative;
}
.gallery-thumbnail-wrap .gallery-thumb-col{
  height: 140px;
}
.gallery-thumbnail-wrap .gallery-thumb-col img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end hotel gallery wrapper section css*/

/* hotel-description-highlights section start css*/
.hotel-description-wrapper .hotel-description-content
{
  max-height: 500px;
  position: relative;
  overflow: hidden;
}
.hotel-description-wrapper .hotel-description-content .yellow-bestseller{
      color: #9d5711;
      display: block;
      font-weight: 800;
}
.hotel-description-content .yellow-bestseller .fa{
  background: #9d5711;
    color: #fff;
    font-size: 14px;
    padding: 4px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
}
.hotel-description-content .show-more-visible{
  display: block;
    position: absolute;
    text-align: center;
    padding: 8px 0 3px;
    bottom: 0;
    width: 95%;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#fff),color-stop(60%,#fff),to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(bottom,#fff 0,#fff 60%,rgba(255,255,255,0) 100%);
    background-image: linear-gradient(to top,#fff 0,#fff 60%,rgba(255,255,255,0) 100%);
}
.show-more-visible a{
  margin-top: 30px;
    display: block;
    text-align: center;
    color: #07c;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #07c;
    color: #07c;
    font-weight: normal;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.property-highlights-wrapper
{
  position: relative;
}
.property-highlights-wrapper .property-highlights
{
  background: #e9f0fa;
  border: 1px solid #cce1ff;
  border-radius: 3px;
  padding: 15px;
  clear: both;
  margin-bottom: 10px;
}
.property-highlights h3
{
  font-weight: normal;
  margin-top: 0;
}
.ph-section {
    margin-bottom: 15px;
}
.ph-section .ph-item {
    margin: 0 0 5px 0;
    font-size: 13px;
    display: table;
    width: 100%;
}
.ph-icon-container
{
  width: 24px;
  padding-right: 5px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.ph-icon-container .istar{
    width: 21px;
    height: 21px;
    background: #212529;
    border-radius: 50%;
    color: #fff;
    line-height: 1.67;
    font-size: 13px !important;
}
.ph-icon-container .fa{
  font-size: 18px;
}
.ph-item-copy {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
.ph-item-copy-review-topic
{
  font-weight: bold;
}
.ph-item-subtitle
{
  color: #6b6b6b;
}
.ph-content .ph-item-header
{
  font-weight: bold;
  padding: 0 0 5px 0;
  margin: 0;
  color: #838383;
  font-size: 13px;
}
.ph-wifi-container{
  background: #0ab21b;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
}
.accuracy-highlights
{

}
.accuracy-highlights .accuracy-highlights-rating{
  color: #0ab21b;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}
.accuracy-highlights .accuracy-highlights-info{
  display: block;
    font-size: 12px;
}
.pop-facilities
{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pop-facilities .h4heading
{
  font-size: 15px;
  font-weight: 700;
}
.facilities-ul
{

}
.facilities-ul li{
  display: inline-block;
  float: left;
    font-weight: bold;
    line-height: 26px;
    margin: 0 10px 10px 0;
    color: #0ab21b;
}
.book-alert
{

}
.book-alert .book-ico{
  float: left;
  width: 36px;
  color: #0ab21b;
  font-size: 26px;
}
.book-alert .book-msg
{
  color: #333;
  float: left;
}
.book-alert .book-msg strong{
  display: block;
  margin-bottom: 7px;
}

/* //end of hotel-description-highlights section css*/

/* availability checkinout form section*/
.available-check-box{
  background-color: #ffd257;
  padding: 15px;
}
.available-check-box .t-check-in, .available-check-box .t-check-out
{
  border-color: transparent;
  margin: 0px 10px;
  background-color: #fff;
  width: 46%;
  margin-bottom: 10px;
  margin-top: 20px;
}
.available-check-box .t-check-in .t-date-info-title, .available-check-box .t-check-out .t-date-info-title
{
  top: -25px !important;
  font-weight: bold;
  opacity: 1;
  left: 0;
}
.available-check-box .available-checkbtn{
    margin-top: 20px;
}
.available-check-box .t-datepicker .t-arrow-top{
  top: 52px;
}
@media only screen and (max-width:767px){
  .t-check-out .t-datepicker-day
  {
    left: 0;
  }
  .available-check-box .t-check-in, .available-check-box .t-check-out
  {
    width: 95%;
  }
}
/* //end of availability checkinout form section*/


/* accomodation table start*/
.accom-table-wrapper{
  position: relative;
}
.accom-table-wrapper .accom-table{

}
.accom-table-wrapper .accom-table thead{
    background-color: #003580;
    text-align: center;
    color: #ffffff;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th
{
      border: 1px solid #95bdf6;
}
.text-underline{
  text-decoration: underline;
}
.font-bold
{
  font-weight: bold;
}
.text-warning{
  color: #f07c00;
}
.text-success {
    color: #0ab21b;
}
.roomtype-block{
  color: #0ab21b;
}
.roomtype-block span{
  display: inline-block;
  font-size: 12px;
  margin:4px;
}
.roomtype-block ul{
  list-style-type: none;
}
.roomtype-block ul li{
  display: inline-block;
}
@media only screen and (max-width:767px){
  .accom-table-wrapper .accom-table{
    max-height: 400px;
  }
  .roomtype-block span{
    display: block;
  }
  .roomtype-block ul li{
    display: block;
  }
}
/*//end accomodation table*/

.alert
{
  color: #000;
}
.alert-info .alert-link {
    color: #0077cc;
    text-decoration: underline;
}

/* host review section css start*/
.host-review-wrapper
{
  position: relative;
}
.host-review-wrapper .host-review-heading{
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.host-review-wrapper .host-review-heading h3{
  font-weight: 500;
}
.host-review-wrapper .host-review-heading .h-review-score{
  font-size: 15px;
  color: #003580;
}
.host-review-wrapper .host-review-heading .h-review-score span{
  margin-left: 5px;
  border: 1px solid #003580;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
}
.review-media{
  position: relative;
}
.review-media .media-left h4{
  font-size: 14px;
  text-align: center;
}
.review-media .review-user-img{
  width: 165px;
  display: block;
  margin: 0px auto;
}
.review-media .review-user-img img
{
  width: 120px;
height: 120px;
object-fit: cover;
border-radius: 50%;
margin: 0px auto;
}
.contact-host-content
{
  margin: 0 0 0;
  border-top: solid 1px #ededed;
  border-bottom: solid 1px #ededed;
  padding: 8px 0;
}
.contact-host-btn{
  background-color: transparent;
  border: 1px solid #07c;
  margin-left: 10px;
  font-weight: 500;
}
.contact-host-header
{
  padding-bottom: 10px;
}
.contact-host-header h3{
    font-weight: normal;
}
@media only screen and (max-width:767px){
  .review-media .media-left{
        display: block;
  }
  .review-media .media-left{
        display: block;
  }
  .review-media .media-body{
        text-align: center;
  }
  .host-review-wrapper .host-review-heading h3{
    font-size: 20px;
  }
}
/*//end of host review section*/


/*hotel-facility-wrapper start*/
.hotel-facility-wrapper{
  position: relative;
}
.hotel-facility-wrapper .hotel-facility-heading{
  padding: 10px 0px;
  border-bottom: 1px solid #ededed;
}
.hotel-facility-wrapper .hotel-facility-heading h3{
  font-weight: 500;
}
.review-badge span{
  display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    vertical-align: middle;
    margin-top: -5px;
    padding: 5px;
    border-radius: 3px;
    background: #e9f0fa;
    color: #383838;
    margin-right: 5px;
}
.hotel-facility-list-wrap
{
  position: relative;
}
.hotel-facility-list-col
{
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.hotel-facility-list-heading{
  font-weight: 400;
  font-size: 20px;
}
.hotel-facility-ul
{
  list-style: none;
}
.hotel-facility-ul li{
  font-size: 13px;
}
.hotel-facility-ul li span i{
  background: #caddf6;
    color: #719ad1;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    font-size: 15px;
    line-height: 0.6;
}
.facility-feedback
{
  color: #779bca;
  text-align: right;
  border-bottom: 1px solid #ededed;
}
.facility-feedback p a{
  font-weight: bold;
  margin:0px 5px;
}
/*//hotel-facility-wrapper end*/

/*house rules section*/
.house-rules-wrapper
{
  position: relative;
}
.house-rules-heading h3{
  font-weight: 500;
}
.house-rules-subheading
{

}
.house-rules-heading h3 .heading-right{
  float:right;
}
.house-rules-content{
  background-color: #e9f0fa;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-top: 1px solid #e9f0fa;
    border-bottom: 1px solid #e9f0fa;
    font-weight: normal;
    overflow: hidden;
    border-radius: 3px;
}
.rules-row{
  padding-top: 30px;
}
.rules-policy{
    display: table;
}
.rules-policy span{
  display: table-cell;
  vertical-align: middle;
}
.rules-policy-icon{
  display: table-cell;
  width: 32px;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
}
.rules-cancel-head{
  width: 22%;
  float: left;
}
.rules-cancel-txt{
  width: 78%;
  float: left;
}
/*range slider*/
.slider-container {
            width: 70%;
            max-width: 500px;

        }
.rs-container .rs-bg
{
  border: 1px solid #c2c2c2;
  background: #ededed;
}
.rs-container .rs-selected {
    background-color: #0ab21b;
    border: 1px solid #0ab21b;
  }
.rs-container .rs-scale
{
  position: relative;
}
/*house rules section end*/


/*footer section css start*/
.footer-top-section
{
  background-color: #003580;
  font-size: 13px;
  padding: 10px 0px;
}
.footer-top-buttonwrap{
  text-align: center;
}
.footer-top-menuwrap{
  text-align: center;
}
.footer-top-menuwrap ul li{
  display: inline-block;
  padding: 0px 5px;
}
.footer-top-menuwrap ul li a{
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
}
.footer-bottom-section{
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-link{
  width:100%;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
}
.footer-link .footer-link-column{
  width: 20%;
  float: left;
  display: block;
}
.badge-success{
  background-color: #0ab21b;
}
.footer-offices{
  border-top: 1px solid #e9f0fa;
  border-bottom: 1px solid #e9f0fa;
  padding: 11px 8px 11px 8px;
  margin-bottom: -8px;
  font-size: 12px;
  display: block;
  float: left;
  width: 100%;
}
.footer-local-info{
  padding: 10px 0px;
  display: block;
  width: 100%;
  float: left;
}
.footer-local-info a{
  font-weight: 700;
}
.copy-right{
  font-size: 12px;
}
.footer-plogos
{
  padding: 10px 0px;
  display: block;
  width: 100%;
  float: left;
}
.footer-plogos-title{
  color: #838383;
  text-align: center;
  font-size: 12px;
}
.footer-partner ul{
  text-align: center;
}
.footer-partner li{
  display: inline-block;
  margin: 7px 15px;
}
@media only screen and (max-width:767px){
  .footer-link .footer-link-column {
      width: 100%;
      display: block;
      text-align: center;
      border-bottom: 1px solid #ededed;
  }
  .footer-link .footer-link-column ul li{
    display: inline-block;
    margin: 4px;
  }
  .slider-container
  {
    width: 100%;
  }

}
/*footer section css end*/



/* Payment step page css starts from here
=======================================*/
/*payment step css start*/
/* Form Progress */

.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
	 content: counter(stepNum);
	 font-family: inherit;
	 font-weight: 700;
}
 .multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
	 background-color: #ededed;
}
 .multi-steps {
	 display: table;
	 table-layout: fixed;
	 width: 100%;
}
 .multi-steps > li {
	 counter-increment: stepNum;
	 text-align: center;
	 display: table-cell;
	 position: relative;
   color: #343434;
   font-weight: 600;
}
 .multi-steps > li:before {
	 content: '\f00c';
	 content: '\2713;
	';
	 content: '\10003';
	 content: '\10004';
	 content: '\2713';
	 display: block;
	 margin: 0 auto 4px;
	 background-color: #0077cc;
	 width: 36px;
	 height: 36px;
	 line-height: 32px;
	 text-align: center;
	 font-weight: bold;
	 border-width: 2px;
	 border-style: solid;
	 border-color: #0077cc;
	 border-radius: 50%;
   color: #fff;
}
 .multi-steps > li:after {
	 content: '';
	 height: 2px;
	 width: 100%;
	 background-color: #0077cc;
	 position: absolute;
	 top: 16px;
	 left: 50%;
	 z-index: -1;
}
 .multi-steps > li:last-child:after {
	 display: none;
}
 .multi-steps > li.is-active:before {
	 background-color: #0077cc;
	 border-color: #0077cc;
}
 .multi-steps > li.is-active ~ li {
	 color: #808080;
}
 .multi-steps > li.is-active ~ li:before {
	 background-color: #c2c2c2;
	 border-color: #c2c2c2;
}



.pay-step-section{
  padding-top: 40px;
  padding-bottom:40px;
}
.payment-left-wrapper{
  position: relative;
}
.panel-info{
  border-color: #cce1ff;
}
.panel-info>.panel-heading{
  background-color: #e9f0fa;
  border-color: #cce1ff;
  color: #363636;
    font-weight: 700;
    font-size: 13px;
}
.booking-panel{

}
.booking-panel .panel-body{
  padding: 10px;
}
.booking-panel .panel-body .panel-list{
  margin-bottom: 5px;
}
.booking-panel .panel-body .panel-list label{
  margin-bottom: 0px;
  font-size: 13px;
}
.booking-panel .panel-body .panel-list p{
  font-size: 13px;
}
.booking-panel .panel-body .panel-list a{
  text-decoration: underline;
  font-size: 12px;
}
.booking-panel .panel-body .panel-divider{
  height: 1px;
  background-color: #cce1ff;
margin: 10px -10px 6px;
}
.roomtype-block.panel-roomtype ul li{
  display: block;
}

.p-summary-ul
{
  display: block;
  width: 100%;
  float: left;
}
.p-summary-ul li{
  display: block;
  float: left;
  width: 100%;
  font-size: 12px;
  margin-bottom: 3px;
}
.p-summary-ul li .sumleftspan{
  float: left;
}
.p-summary-ul li .sumrightspan{
  float: right;
}
.infopanel-bg{
  background-color: #e9f0fa;
  min-height: 40px;
  float: left;
  width: 100%;
  padding: 10px;
}
.price-ul
{
  display: block;
width: 100%;
float: left;
}
.price-ul li{
  width: 100%;
  display: table;
  border-bottom: 1px solid #ddd;
padding-bottom: 4px;
}
.price-ul li:last-child{
  border-bottom: none;
}
.price-ul li span{
  display: block;
}
.price-ul li .span-big{
  font-size: 18px;
}
.price-ul li .span-small{
  font-size: 12px;
}
.price-ul li .span-small span{
  display: inline;
}
.text-linethrough{
  text-decoration: line-through;
}
.text-decoration-danger{
  text-decoration-color: red;
}
.gprice-img{
  width: 90px;
}
.limited-alert{
  padding-right: 10px;
  border-bottom: 4px solid #bc5d5c;
}
.limited-alert .limit-ico{
  color: red;
  float: left;
  width:20px;
}
.limited-alert .limit-msg{
  float: left;
width: 90%;
font-size: 12px;
}
.panel-loc-ul
{
  position: relative;
}
.panel-loc-ul li
{
  width: 100%;
  display: table;
  margin-bottom:5px;
}
.panel-loc-ul li span:first-child{
  float: left;
  color: #000;
  width: 25px;
}
.panel-loc-ul li .loc-right{
    float: left;
}
.panel-loc-ul li .loc-right span{
  font-size: 12px;
 color: #706e6e;
}

.hotel-det-slidewrapper{
    margin-bottom: 15px;
}
.hotel-det-name{
  margin-top: 0px;
}
.hotel-det-name p{
  font-size: 12px;
  margin: 6px 0;
}
.hotel-det-name p span{
  vertical-align: middle;
}
.hotel-det-name p .thumbsup-span{
  background: #febb02;
    border-radius: 2px;
    color: #fff;
    padding: 4px;
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}
.hot-det-loc-ico{
  display: inline-table;
  vertical-align: middle;
}

.payment-step-form-wrapper{
  position: relative;
  padding-left:10px;
  padding-right: 10px;
}
.page-head4ing{
  font-weight: 400;
  font-size: 21px;
}
.payment-step-formbox{
  background-color: #e9f0fa;
  padding: 15px;
  width: 100%;
  display: table;
  margin: 20px auto;
}
.pay-stepbox-top{
  border-bottom: 1px solid #ccd3dd;
  padding: 2px 0px 6px;
  margin-bottom: 25px;
  float: left;
  width: 100%;
}
.pay-success-badge{
  background-color: #d1edd4;
  color: #077812;
  padding: 2px 5px;
  border-radius: 6px;
}
.badge-r-desk{
  float:right;
}
.payment-step-formbox .form-group{
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
.payment-step-formbox .confirmmsg{
  margin-top: 20px;
}
.payment-step-formbox .paybase-block{
  background-color: #f7f7f7;
  padding: 15px;
  float: left;
  width: 100%;
}
.clean-review{
  border: 1px solid #077812;
  padding: 3px;
  max-width: 200px;
  float: left;
}
.clean-review .cl-rev-point{
  background-color: #003580;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  border-bottom-left-radius: 0px;
  line-height: 2;
}
.clean-review span{
  display: inline-block;
  vertical-align: middle;
}
.g-inline{
  display: inline;
}
.g-inline label, .g-inline select{
  display: inline;
  width: auto;
}
.payment-step-btn{
  background-color: #0077cc;
  color: #ffffff;
  padding:5px 10px;
  font-weight: bold;
  font-size: 22px;
  border: 1px solid #0077cc;
}
.payment-step-checkbtn{
  background-color: transparent;
color: #07c;
padding:5px 10px;
font-weight: bold;
font-size: 22px;
border: 1px solid #0077cc;
}
.payrate-gurantee{
    padding: 5px;
    background: #cce1ff;
    margin: 0px 10px;
    border-radius: 3px;
    position: relative;
}
.payrate-gurantee:after{
  content: "";
  width: 0px;
  height: 0px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #cce1ff;
  position: absolute;
  top: 9px;
  right: -6px;
}
.grayfooter-section{
  padding: 20px 0px;
  background: #f7f7f7;
}
.grayfooter-ul{
  margin: 0;
  padding: 0px;
}
.grayfooter-ul li{
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
}
.payment-namedit-block{
  border:1px solid #0077cc;
  padding: 15px;
  float: right;
  width: 100%;
  position: relative;
}
.payment-namedit-block .payment-namedit{
  position: absolute;
  right: 10px;
}
.payment-namedit-blocklist
{
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.payment-namedit-blocklist label{
  margin-bottom: 0px;
}
@media only screen and (max-width:767px){
  .payment-step-formbox .confirmmsg{
    margin-top: 0px;
  }
}

.payradio {

     display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 40px;
}

.payradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.payradio .fl-r
{
  float: right;
}
/* Create a custom radio button */
.checkround {

    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff ;
    border-color:#0077cc;
    border-style:solid;
    border-width:2px;
     border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
     left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background:#0077cc;
}
@media only screen and (max-width:767px){
  .payradio{
    font-size: 13px;
    float: left;
    margin-bottom: 19px;
  }
  .payradio .fl-r{
    float: left;
  }
}

/*//payment step css end*/


/*=============== 
gallery review section css
start from here 
================*/
.gallery-review-wrapper
{
    width: 18em;
    float: right;
    display: block;
    height: 300px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.gallery-review-scorecard
{
	margin-bottom:10px;
	background:#fff;
	padding:10px;
	float:right;
	width:100%;
}
.gallery-review-scorecard .gallery-review-scoredetails
{
	width: 100%;
    float: right;
    clear: both;
    margin-bottom: 0;
	text-align:right;
}
.bui-review-score {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-weight: 500;
}
.bui-review-score--end {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.bui-review-score__badge {
    background: #003580;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    vertical-align: baseline;
    border-radius: 6px 6px 6px 0;
    height: 32px;
    width: 32px;
}
.bui-review-score--end .bui-review-score__badge+.bui-review-score__content {
    margin-left: 0;
    margin-right: 8px;
    text-align: right;
}
.bui-review-score__title {
    color: #003580;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}
.bui-review-score__text {
    color: #707070;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    margin-top: 4px;
}
.best-review-score {
    background: #fff;
    padding: 10px;
    margin: 10px 0;
    display: table;
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	text-align:right;
}
.best-review-score-label {
    font-weight: bold;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    padding: 0 5px 0 0!important;
}
.testimonial_para
{
	 background-color:#e9f0fa;
	 height:100px;
	 line-height:1.3;
	 padding:5px 10px 5px 28px;
	 margin-bottom:0px;
}
.testi-name-whiterow
{
	background:#ffffff;
	padding-left:15px;
	padding-right:15px;
}
.testiname-short img
{
	border-radius:50%;
}
.testi-namewrap
{
	width:100%;
	display:table;
	padding:10px 15px;
}
.testiname-short
{
	width:24px;
	height:24px;
	border-radius:50%;
	display:table-cell;
	vertical-align:middle;
}
.testi-namewrap .testiname
{
	display:table-cell;
	vertical-align:middle;
	padding-left:4px;
	font-size:12px;
}
.testi_subtitle
{
	display:table-cell;
	vertical-align:middle;
	font-size:10px;
}
.test-left-btn, .test-left-btn:visited
{
	left: 0;
    position: absolute;
    top: 50%;
    padding: 5px 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
	color:#07c;
	font-size:20px;
}
.test-right-btn, .test-right-btn:visited
{
	position: absolute;
    right: 0;
    top: 50%;
    padding: 5px 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
	color:#07c;
	font-size:20px;
}



/*proggress*/
.bui-nav-progress, .bui-nav-progress__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.bui-nav-progress__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  color: #6b6b6b;
}
.bui-nav-progress__indicator {
  border-radius: 50%;
  background: #0071c2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  line-height: 1;
  margin-right: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  width: 24px;
  height: 24px;
}
.bui-nav-progress__icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.bui-nav-progress__divider {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 1px;
  background: #e7e7e7;
  margin: 0 8px;
  min-width: 16px;
}
.bui-nav-progress__divider::marker
{
  display: none;
}
.bui-nav-progress__item--active {
  color: #262626;
}
.bui-nav-progress__item--disabled .bui-nav-progress__indicator {
  background: #494949;
  color: #fff;
}


/*=========css added 5.8.22=====*/
.property-card
{
  border:1px solid #c6c6c6;
  margin: 10px 0;
  padding: 15px;
}
.property-card-div
{
  display: flex;
}
.property-card-leftbox
{
  flex: 0 0 auto;
  width: 200px;
}
.property-card-rightbox
{
  flex: 1 1 auto;
  margin-left: 15px;
}
.property-imagebox
{
  position: relative;
  width: 200px;
}
.property-imagebox a img{
  border-radius: 5px;
}
.property-imagebox .save-icon
{
  position: absolute;
  right: 5px;
  top: 5px;
}
.property-imagebox .save-icon svg
{
    stroke: #fff;
    stroke-width: 8px;
    fill: rgba(0,0,0,.2);
    filter: drop-shadow(0 2px 1.5px rgba(0,0,0,.5));
    width: 24px;
    height: 24px;
}
.property-imagebox .save-icon svg:hover
{
  fill: rgba(0,0,0,.6);
}
.property-card-rightbox .property-content
{
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.property-card-rightbox .property-content .property-content-header
{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.property-card-rightbox .property-content .property-content-header .p-name-block
{
  width: 70%;
}
.property-card-rightbox .property-content .property-content-header h3
{
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 5px;
}
.property-card-rightbox .property-content .property-content-header h3 a, .property-card-rightbox .property-content .property-content-header h3 span{
  display: inline-block;
}
.fbb11b26f5 {
  display: flex;
}
.fbb11b26f5 svg{
  width: 12px;
  height: 12px;
  fill: #febb02;
}
.text-success
{
  color: #008009;
}
.property-card-rightbox .property-content .property-content-header a.location
{
  text-decoration: underline;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  margin-left: -8px;
}

.property-card-rightbox .property-content .property-content-header a.location span
{
  margin: 0px 10px;
  position: relative;
}
.property-card-rightbox .property-content .property-content-header a.location span:last-child:before
{
  position: absolute;
  content: "•";
  color: #c0c0c0;
  text-decoration: none;
  left: -12px;
}
.rate-box
{
  display: flex;
  flex-direction: row-reverse;
}
.rate-box .rate
{
  background-color: #003580;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 5px 5px 5px 0px;
  font-weight: 600;
  margin-left: 10px;
}
.rate-box .r-score
{
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  color: #262626;
}
.rate-box .review
{
  margin-top: 4px;
  font-size: 12px;
  color: #6b6b6b;
}

.property-card-dealbox
{
  width: 100%;
  display: flex;
}
.property-card-dealbox .property-deal
{
  background-color: transparent;
    color: #292929;
    font-size: 12px;
    border-radius: 2px;
    padding: 2px 4px;
    border: 1px solid #989898;
    margin-bottom: 10px;
}
.property-content-body
{
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}

.p-content-column:first-child
{
  width: 70%;
}
.p-content-column:last-child
{
  margin-left: 10px;
  text-align: right;
  width: 30%;
}
.recommended-units
{
  padding-left: 10px;
  border-left: 2px solid #ddd;
}
.f-12
{
  font-size: 12px;
}
.fw-700
{
  font-weight: 700;
}
.fw-400
{
  font-weight: 400;
}
.avail-btn
{
  border-radius: 0;
  padding: 6px 12px;
  margin-top: 10px;
}
.avail-btn span
{
  margin-left: 10px;
}
.c79b3cbed2 svg{
  fill: #febb02;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}
@media only screen and (max-width:767px){
  .property-card-div
  {
    flex-direction: column;
  }
  .property-card-leftbox
  {
    margin: 20px auto;
  }
  .property-card-rightbox .property-content .property-content-header .p-name-block
  {
    width: 100%;
  }
  .property-card-rightbox .property-content .property-content-header
  {
    flex-direction: column;
  }
  .property-card-rightbox
  {
    margin-left: 0px;
  }
  .property-content-body
  {
    flex-direction: column;
  }
  .p-content-column:first-child
  {
    width: 100%;
  }
  .p-content-column:last-child
  {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-left: 0px;
  }
}